body{
  margin:0;
  padding:0;
  font-size: 16px;
  color : white;
  background-color: black;
}

@font-face {
	font-family: "Morris Roman";
	src: url('fonts/morris-roman.black.ttf');
}

@font-face {
	font-family: "Army Rust";
	src: url('fonts/ARMY RUST 2.ttf');
}

/* HEADER */

.logo{
  display: flex;
  justify-content: center;
}

#logo{
  width: 600px;
  height: 200px;
  margin : 30px;
}

/* HAMBURGER */

#hamburger{
  opacity : 1;
  left : 30px;
  top : 30px;
  width : 50px;
  height: 50px;
  position : fixed;
}
#blackHamburger{
  opacity : 0;
  transition : all 2.5s;
  left : 30px;
  top : 30px;
  width : 50px;
  height: 50px;
  position : absolute;
}

.containerHamburger{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menuHamburger{
  display : block;
  right :100%;
  transition: all 1s;
  top : 0px;
  position: fixed;
  width : 200px;
  height: 700px;
  background: linear-gradient(#6b6969, #bebdbd);
}

.menuHamburgerOnglets{
  padding-top : 140px;
}

.menuHamburgerOnglets ul li{
  list-style: none;
  padding: 20px 0px;
}

.menuHamburgerOnglets ul li a{
  color : black;
  text-decoration: none;
  font-family: "Morris Roman";
  font-size: 24px;
}

.menuHamburgerOnglets ul li a:hover{
  color : white;
  transition: all .3s;
}

/*MAIN*/

.howToPlay h1{
  font-family: "Army Rust";
  font-size : 60px;
  text-align: center;
  width : 100%;
  height : 80px;
  background-color: red;
  border : 2px solid white;
}

.howToPlay h3{
  font-family: "Morris Roman";
  font-size : 34px;
  text-align: center;
}

#gameGoal{
  font-family: "Morris Roman";
  font-size : 28px;
  text-align: center;
  margin : 0px 20%;
  margin-bottom : 80px;
}


.how{
  display: flex;
  justify-content: center;
  margin : 50px 20%;
  border : 1px solid white;
  padding : 20px;
}

.how p{
  font-family: "Morris Roman";
  font-size : 22px;
  text-align: center;
}

.howPContainer{
  display: none;
}

.howToPlay img{
  width : 300px;
  height: 300px;
}

.howImgContainer{
  display: none;
}

.displayBlock{
  display: block;
}



.divButton{
  width: 100%;
  display: flex;
  justify-content: center;
}

#button{
  margin : 30px 0px;
  width : 250px;
  height: 100px;
  background-color: red;
  border-radius: 50px;
  position : static;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button a{
  color : white;
  text-decoration: none;
  font-size: 50px;
  font-family: "Army rust";
}

.triangle{
  width: 0px;
  margin: 0 auto;
  border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid white;
}

.triangle:hover{
  border-top: 30px solid grey;
}

.triangleUp{
  width: 0px;
  margin: 0 auto;
  border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid white;
  border-top: 0px;
}

.triangleUp:hover{
  border-bottom: 30px solid grey;
  border-top: 0px;
}



@media screen and (max-width : 990px){
  .how{
    flex-direction: column;
  }

  .how img{
    margin : 20px auto;
  }
}

@media screen and (max-width : 600px){
  .how{
    flex-direction: column;
  }
  .how img{
    width : 200px;
    height: 200px;
  }
  .howToPlay h1{
    font-size : 45px;
  }
  #logo{
    width: 510px;
    height: 170px;
    margin : 30px;
  }
}
